@media (min-width: 768px) {
  footer {
    background: url("../../assets/img/tło_stopka.png") center / contain no-repeat;
    padding-top: 55px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 90px;
  }
}

@media (min-width: 992px) {
  footer {
    background: url("../../assets/img/tło_stopka.png") center / contain no-repeat;
    padding-top: 110px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 90px;
  }
}

@media (min-width: 1200px) {
  footer {
    background: url("../../assets/img/tło_stopka.png") center / contain no-repeat;
    padding-top: 150px;
    padding-bottom: 110px;
    padding-left: 60px;
    padding-right: 130px;
  }
}

@media (min-width: 300px) {
  footer h3 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 17px;
  }
}

@media (min-width: 768px) {
  footer h3 {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
  }
}

@media (min-width: 992px) {
  footer h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  footer h3 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media (min-width: 300px) {
  footer p {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  footer p {
    color: #fff;
    font-size: 9px;
    margin-bottom: 5px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  footer p {
    color: rgb(255,255,255);
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  footer p {
    color: rgb(255,255,255);
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 300px) {
  .footer-bottom p {
    font-size: 8px;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .footer-bottom p {
    padding-bottom: 10px;
    padding-top: 0px;
    font-size: 10px;
  }
}

