body {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navigation-clean-search .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
  color: #222;
}

.navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .navigation-clean-search.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
  border-radius: 20px;
  color: #fff !important;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: 8px 20px;
  transition: background-color 0.25s;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.bezplatna-wycena {
  background: #fc3041;
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.57);
  float: right;
}

@media (min-width: 768px) {
  .bezplatna-wycena {
    width: 28%;
    margin-right: -5px;
    font-size: 8px;
  }
}

@media (min-width: 992px) {
  .bezplatna-wycena {
    width: 28%;
    margin-right: -5px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .bezplatna-wycena {
    width: 28%;
    margin-right: -5px;
    font-size: 14px;
  }
}

@media (min-width: 300px) {
  .text-right.d-inline.section-title {
    font-size: 40px;
    position: absolute;
    right: 15px;
    font-weight: 900;
    z-index: 1;
    top: -10px;
  }
}

@media (min-width: 768px) {
  .text-right.d-inline.section-title {
    font-size: 35px;
    position: absolute;
    right: 15px;
    font-weight: 900;
    z-index: 1;
    top: 1px;
  }
}

@media (min-width: 992px) {
  .text-right.d-inline.section-title {
    font-size: 35px;
    position: relative;
    right: -75px;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .text-right.d-inline.section-title {
    font-size: 45px;
    position: relative;
    right: -100px;
    font-weight: 900;
  }
}

@media (max-width: 575px) {
  #baner-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  #baner-title {
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
  }
}

@media (min-width: 768px) {
  #baner-title {
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
  }
}

@media (max-width: 575px) {
  #baner-description {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  #baner-description {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
  }
}

@media (min-width: 768px) {
  #baner-description {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    line-height: 47px;
  }
}

@media (min-width: 992px) {
  #baner-description {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  #baner-description {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .container.section-text p {
    color: #7f7f7f;
    font-size: 11px;
    font-weight: 300;
  }
}

@media (min-width: 992px) {
  .container.section-text p {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: 300;
  }
}

@media (min-width: 1200px) {
  .container.section-text p {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
  }
}

.section-3 .icon-container p {
  font-size: 16px;
  color: #7f7f7f;
  font-weight: bold;
}

@media (min-width: 992px) {
  .container.icon-container {
    margin-top: 20px;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .container.icon-container {
    margin-top: 30px;
  }
}

#section-mouse-scroll {
  position: relative;
}

@media (max-width: 575px) {
  #mouse-scroll-container {
    position: absolute;
    text-align: center;
    top: -65px;
    color: #fff;
  }
}

@media (min-width: 576px) {
  #mouse-scroll-container {
    position: absolute;
    text-align: center;
    top: -66px;
    color: #fff;
  }
}

@media (min-width: 992px) {
  #mouse-scroll-container {
    position: absolute;
    text-align: center;
    top: -84px;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  #mouse-scroll-container {
    position: absolute;
    text-align: center;
    top: -150px;
    color: #fff;
  }
}

#mouse-scroll-container .icon-mouse {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.h1, h1 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 30px;
  padding-bottom: 20px;
}

#szybki-kontakt {
  font-size: 12px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
  float: right;
}

#header-logo-2 {
  padding-right: 15px;
  padding-left: 15px;
  border-style: solid;
  border-right-color: rgb(255,255,255);
  border: none;
  border-right: 1px solid #fff;
}

#header-logo-4 {
  padding-right: 15px;
  padding-left: 15px;
  border-style: solid;
  border-right-color: rgb(255,255,255);
  border: none;
}

#header-logo-3 {
  padding-right: 15px;
  padding-left: 15px;
  border-style: solid;
  border-right-color: rgb(255,255,255);
  border: none;
  border-right: 1px solid #fff;
}

#logo-adshock-column {
  display: flex;
  justify-content: start;
  align-items: center;
}

#telefon-kontaktowy {
  font-weight: 900;
  float: right;
}

.navbar-light .navbar-nav .nav-link {
}

.nav-item a {
  color: #fff;
  font-weight: bold;
}

p {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.d-inline.column-icon {
  filter: invert(0%);
}

@media (min-width: 300px) {
  .d-inline.column-icon {
    width: 47px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .d-inline.column-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .d-inline.column-icon {
    width: 60px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .d-inline.column-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

.h6, h6 {
  margin-top: 15px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .col.icon-text {
    margin: 10px;
    padding: 10px;
    min-height: 275px;
    height: 275px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -4px;
    border-width: 0px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #ffffff;
  }
}

@media (min-width: 992px) {
  .col.icon-text {
    margin: 10px;
    padding: 20px;
    min-height: 360px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -4px;
    border-width: 0px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #ffffff;
  }
}

@media (min-width: 1200px) {
  .col.icon-text {
    margin: 10px;
    padding-right: 30px;
    min-height: 360px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -4px;
    border-width: 0px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #ffffff;
  }
}

@media (min-width: 300px) {
  .trusted-us img {
    margin: 5px;
    width: 29%;
    padding: 10px;
    display: inline;
  }
}

@media (min-width: 768px) {
  .trusted-us img {
    margin: 5px;
    width: 155px;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .trusted-us img {
    margin: 5px;
    width: 185px !important;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .trusted-us img {
    margin: 5px;
    width: 125px;
    padding: 10px;
  }
}

.col.icon-text.seo-section-col {
  height: 250px;
  min-height: 250px;
}

.seo-section-col-icon {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .baner-button {
    background: #fc3041;
    box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.57);
    margin-right: -5px;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 5px 18px;
    font-size: 12px;
  }
}

.baner-button {
  background: #fc3041;
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.57);
  margin-right: -5px;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 8px 20px;
}

.action-button.baner-button-left {
  background: #fc3041;
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.57);
  float: left;
  margin-right: -5px;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 8px 20px;
  margin-top: 30px;
}

.post-button {
  margin-top: 10px;
  margin-left: 0px;
  background: #3d25bd;
  box-shadow: 5px 5px 22px 0px rgba(0,0,0,0.57);
  margin-right: -5px;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  margin: 0 30px 30px;
}

.post-title {
  margin-bottom: 20px;
  margin: 0 30px 20px;
}

.post-description {
}

.post-category-badge {
  position: absolute;
  background: #ffffff;
  top: 160px;
  margin-left: 30px;
  padding: 0px 10px;
  border-radius: 10px;
}

@media (min-width: 300px) {
  .contact-sec-info-p {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(0,0,0);
  }
}

@media (min-width: 768px) {
  .contact-sec-info-p {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: rgb(0,0,0);
  }
}

@media (min-width: 1200px) {
  .contact-sec-info-p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(0,0,0);
  }
}

@media (min-width: 992px) {
  .contact-sec-info-p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 15px;
    color: rgb(0,0,0);
  }
}

@media (min-width: 300px) {
  .contact-sec-info-row img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 768px) {
  .contact-sec-info-row img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1200px) {
  .contact-sec-info-row img {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 992px) {
  .contact-sec-info-row img {
    width: 30px;
    height: 30px;
  }
}

#section-3 .row > div {
}

@media (min-width: 992px) {
  #section-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  #section-4 {
    background: url("../../assets/img/sekcja_jak_zacząć_pozycjonować.png") right / contain no-repeat;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
  }
}

@media (min-width: 300px) {
  .column-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .column-title {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .column-title {
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  #section-5 {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url("../../assets/img/sekcja_zaufali_nam.png") -100px / contain no-repeat;
  }
}

@media (min-width: 992px) {
  #section-5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 300px) {
  #section-6 {
    padding-top: 0px;
    padding-bottom: 0px;
    background: none;
  }
}

@media (min-width: 992px) {
  #section-6 {
    padding-top: 0px;
    padding-bottom: 0px;
    background: url("../../assets/img/sekcja_zajmujemy_się_pozycjonowanie,.png") 120% 109% / 40% no-repeat;
  }
}

@media (min-width: 1200px) {
  #section-6 {
    padding-top: 0px;
    padding-bottom: 60px;
    background: url("../../assets/img/sekcja_zajmujemy_się_pozycjonowanie,.png") 100% 100% / 25% no-repeat;
  }
}

@media (min-width: 300px) {
  .btn.text-left.action-button.baner-button {
    margin-top: 30px;
    margin-left: 10px;
    display: table;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .btn.text-left.action-button.baner-button {
    margin-top: 30px;
    margin-left: 0px;
    display: table;
  }
}

@media (min-width: 992px) {
  .btn.text-left.action-button.baner-button {
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 1200px) {
  .btn.text-left.action-button.baner-button {
    margin-top: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 992px) {
  .row.section-1-row {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .row.section-1-row {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  footer .h1, footer h1 {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.47);
  }
}

@media (min-width: 1200px) {
  footer .h1, footer h1 {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.47);
  }
}

@media (min-width: 300px) {
  .footer-fast-contact img {
    width: 12px;
    margin-right: 10px;
  }
}

@media (min-width: 768px) {
  .footer-fast-contact img {
    width: 12px;
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .footer-fast-contact img {
    width: 20px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .footer-fast-contact img {
    width: 30px;
    margin-right: 10px;
  }
}

@media (min-width: 300px) {
  .footer-fast-contact .d-block {
    margin-bottom: 5px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer-fast-contact .d-block {
    margin-bottom: 5px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .footer-fast-contact .d-block {
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .footer-fast-contact .d-block {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .d-inline.footer-fast-contact-first-img {
    width: 19px;
    margin-right: 10px;
    margin-left: 2px;
  }
}

@media (min-width: 1200px) {
  .d-inline.footer-fast-contact-first-img {
    width: 20px;
    margin-right: 18px;
    margin-left: 2px;
  }
}

@media (min-width: 1200px) {
  .footer-fast-contact p {
    font-size: 16px;
  }
}

#banner-right-column img {
  height: 200px;
}

@media (min-width: 768px) {
  #banner-right-column img {
    height: 395px;
  }
}

@media (min-width: 992px) {
  #banner-right-column img {
    height: 420px;
  }
}

@media (min-width: 1200px) {
  #banner-right-column img {
    height: 500px;
  }
}

@media (min-width: 300px) {
  .col-up {
    margin-top: 0px;
  }
}

@media (min-width: 992px) {
  .col-up {
    margin-top: -28px;
  }
}

.section-3-sub-img {
  height: 30px;
  margin-bottom: 15px;
}

@media (min-width: 992px) {
  .section-3-sub-img {
    height: 50px;
    margin-bottom: 15px;
  }
}

.section-3-sub-icons {
  width: 70px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .section-3-sub-chart {
    width: 125px;
    margin-bottom: 25px;
    color: rgb(54,33,178);
  }
}

.section-3-sub-chart {
  width: 100px;
  margin-bottom: 25px;
  color: rgb(54,33,178);
}

@media (min-width: 992px) {
  .section-3-sub-chart {
    width: 150px;
    margin-bottom: 25px;
    color: rgb(54,33,178);
  }
}

@media (min-width: 992px) {
  section h1 {
    font-size: 2rem;
    color: #000;
  }
}

@media (min-width: 1200px) {
  section h1 {
    font-size: 2rem;
    color: #000;
  }
}

@media (min-width: 300px) {
  #section-6 .row.section-6-blocks {
    margin-top: 40px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #section-6 .row.section-6-blocks {
    text-align: left;
  }
}

#section-7 .post-image {
  height: 200px;
  margin-bottom: 20px;
  background: url("../../assets/img/2016-Dodge-Shakedown-Challenger-001-1080.jpg") center / cover no-repeat;
  border-radius: 30px 30px 0 0;
  width: initial;
}

@media (min-width: 992px) {
  #section-7 .post-container {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(195,195,195);
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
  }
}

#section-7 .post-description {
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 992px) {
  #section-8 h1 {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  #section-8 h1 {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0;
  }
}

#section-8 h1 {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 0;
  color: initial;
}

@media (min-width: 1200px) {
  #section-8 h1 {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 0;
  }
}

#section-8 img.woman {
  width: 100%;
}

@media (min-width: 300px) {
  .section-8-icon-column-p {
    text-align: center;
    color: rgb(132,132,132);
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .section-8-icon-column-p {
    text-align: center;
    color: rgb(132,132,132);
    margin-top: 10px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .section-8-icon-column-p {
    text-align: center;
    color: rgb(132,132,132);
    margin-top: 10px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  footer .h1, h1 {
    font-size: .8rem;
    padding: 15px 0 10px;
    color: #000;
  }
}

@media (max-width: 577px) {
  .container.main-page-hero {
    padding-top: 50px;
  }
}

.mobile-menu img {
  width: 100px;
}

.navbar-light .navbar-toggler-icon {
}

@media (max-width: 575px) {
  #banner-right-column img {
    height: 170px;
  }
}

@media (min-width: 300px) {
  section h2 {
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  section h2 {
    font-size: 24px;
    text-align: left;
  }
}

@media (min-width: 576px) {
  section h2 {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .center-content {
    display: flex;
    justify-content: middle;
    align-items: center;
    flex-direction: column;
  }
}

.section-3-desc {
}

@media (min-width: 1200px) {
  section h2 {
    text-align: left;
  }
}

.paragraf {
  font-size: 16px;
}

@media (min-width: 300px) {
  .trusted-us {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .trusted-us {
    text-align: left;
  }
}

.icon-text-desc {
  font-size: 11px !important;
}

@media (min-width: 300px) {
  #contact-section-image {
    display: none;
  }
}

@media (min-width: 768px) {
  #contact-section-image {
    display: block;
  }
}

.post-button:hover, .baner-button:hover {
  background-color: transparent;
  cursor: pointer;
  opacity: .5;
}

.bstyle1:hover {
}

@media (min-width: 768px) {
  .btn {
    font-size: .8rem;
  }
}

@media (min-width: 300px) {
  .btn {
    font-size: .7rem;
  }
}

@media (min-width: 1200px) {
  .btn {
    font-size: .9rem;
  }
}

.btn {
  border-radius: 40px;
}

.btn-danger {
  color: #fff;
  background-color: #fc3041;
  border-color: #fc3041;
}

.btn-light {
  color: #fff;
  background-color: #fc3041;
  border-color: #fc3041;
}

@media (max-width: 767px) {
  #section-6 .btn {
    display: table;
    text-align: center;
  }
}

#section-3 > div.container {
  background: url("../../assets/img/element_graficzny1.png") right / contain no-repeat;
}

@media (min-width: 300px) {
  .subtitle {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .subtitle {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  #logo-adshock-column {
    padding: 10px;
  }
}

